 public void Pushavta(string devices, string path)
        {
            RunCMD(string.Concat(new string[]
{
            "adb -s ",
           devices,
            " push  \"",
            Path.Combine(AppDomain.CurrentDomain.BaseDirectory, path),
            "\" /sdcard/Pictures/"
}));
            RunCMD("adb -s " + devices + " shell am broadcast -a android.intent.action.BOOT_COMPLETED -n com.android.providers.media/.MediaScannerReceiver");
            RunCMD("adb -s " + devices + " shell am broadcast -a android.intent.action.MEDIA_SCANNER_SCAN_FILE -d file:///mnt/sdcard/Pictures/");
            RunCMD("adb -s " + devices + " shell am broadcast -a android.intent.action.MEDIA_MOUNTED -d file:///sdcard/Pictures");
        }
        public void ClearAvata(string devices, string path)
        {
            RunCMD("adb -s " + devices + " shell rm -f /sdcard/Pictures/" + path);
            RunCMD("adb -s " + devices + " shell am broadcast -a android.intent.action.BOOTthis.string_8_COMPLETED -n com.android.providers.media/.MediaScannerReceiver");
            RunCMD("adb -s " + devices + " shell am broadcast -a android.intent.action.MEDIA_SCANNER_SCAN_FILE -d file:///mnt/sdcard/Pictures/");
            RunCMD("adb -s " + devices + " shell am broadcast -a android.intent.action.MEDIA_MOUNTED -d file:///sdcard/Pictures");
        }
